
@{
    ViewBag.Title = "ConsumeWebApi";
    Layout = null;
}


 <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h2>ConsumeWebApi</h2>

<table id="table-1" class="table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>
                Employee Id
            </th>
            <th>
                EmployeeName
            </th>
            <th>
                EmployeeSalary
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {


    //    onload = function showdata() {
    //        $.ajax({
    //            url: "http://localhost:58551/api/employeeDetailsApi",
    //            info: false,
    //            type: "Get",
    //            datatype: "json",
    //            success: function (result) {
    //                alert(result);

    //                $.each(result, function (i, key) {

    //                    $("#table-1>tbody tr:last").after('<tr><td>' + key.EmpId + '</td><td>' + key.EmpName + '</td><td>' + key.EmpSalary + '</td></tr>');
    //                });
    //                $("#table-1>tbody tr:first").remove();

    //            }
    //        });
    //    }

    //    $('#table-1').DataTable();
    //});




    $('#table-1').dataTable({
        "ajax": {
            "url": "http://localhost:58551/api/employeeDetailsApi",
            "dataSrc": function (json) {
                $.each(result, function (i, key) {

                    $("#table-1>tbody tr:last").after('<tr><td>' + key.EmpId + '</td><td>' + key.EmpName + '</td><td>' + key.EmpSalary + '</td></tr>');
                });
                return json.data;
            }
        }
    });
    });
</script>


